<?xml version='1.0' encoding='utf-8'?>
<widget id="gr.scify.cityrus" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>City-R-Us Athens</name>
    <description>
        To City-R-US Athens ειναι μια εφαρμογή που επιτρέπει στους κατοίκους και επισκέπτες της Αθήνας να συμμετάσχουν σε αποστολές με σκοπό τη βελτίωση της ζωής στην πόλη.
    </description>
    <author email="info@scify.org" href="http://www.scify.gr/site/en/">
        SCIFY
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <access origin="*://*.googleapis.com/*" subdomains="true" />
    <access origin="*://*.gstatic.com/*" subdomains="true" />
    <access origin="*://*.google.com/*" subdomains="true" />
    <access origin="*://*.googleusercontent.com/*" subdomains="true" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*://*.gstatic.com/*" />
    <allow-navigation href="*://*.*.googleapis.com/*" />
    <allow-navigation href="*://*.maps.googleapis.com/*" />
    <platform name="android">
        <allow-intent href="market:* " />
        <icon src="www/img/ldpi/CityRUS_logo.png" density="ldpi" />
        <icon src="www/img/mdpi/CityRUS_logo.png" density="mdpi" />
        <icon src="www/img/hdpi/CityRUS_logo.png" density="hdpi" />
        <icon src="www/img/xhdpi/CityRUS_logo.png" density="xhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="orientation" value="portrait"/>
</widget>
