<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" href="onsen/css/onsenui.css">
        <link rel="stylesheet" href="onsen/css/onsen-css-components.css">
        <script src="onsen/js/angular/angular.js"></script>
        <script src="onsen/js/onsenui.js"></script>
        <title>Hello World</title>
        </script>
    </head>
    <body ng-controller="AppController">

        <ons-navigator title="Navigator" var="myNavigator">
            <ons-page>
              <div id="deviceready" class="blink">
                <p class="event listening"></p>
                <p class="event received"></p>
              </div> 
              <div id="splashLogo">
                    <img src="img/CityRUS_logo.png">
              </div>
            </ons-page>
        </ons-navigator>

        <ons-template id="login.html">
            <ons-page id="startPage">
                <div id="logo">
                    <img src="img/CityRUS_logo.png">
                </div>
                <div>
                    <ons-modal var="modal">
                      <ons-icon icon="ion-load-c" spin="true"></ons-icon>
                      <br>
                      <br> Please wait...
                      <br>
                    </ons-modal>
                    <form name="myForm">
                        <section style="padding: 8px">
                          <input type="text" class="text-input" name="user" ng-model="username_v" placeholder="Username" style="display: block; width: 100%" required>
                        </section>
                        <section style="padding: 8px">
                          <input type="password" class="text-input" name="pass" ng-model="password_v" placeholder="Password" style="display: block; width: 100%" required>
                        </section>
                        <section style="padding: 0 8px 8px">
                            <ons-button modifier="large" class="login-button" ng-click="logIn(username_v, password_v)"> Login </ons-button>
                        </section>
                        <section style="padding: 0 0px 0px">
                          <ons-button modifier="quiet" ng-click="myNavigator.pushPage('register.html', {animation: 'fade'})"> Register </ons-button>
                        </section>
                        <section style="padding: 0 0px 0px">
                          <ons-button modifier="quiet"> Forgot Password? </ons-button>
                        </section>
                    </form>
                </div>
            </ons-page>
        </ons-template>

       <ons-template id="account.html">
            <ons-page>
                <ons-toolbar fixed-style>
                  <div class="center" id="transformText">MyAccount</div>
                  <div class="right"><ons-toolbar-button ng-click="logOut()" modifier="outline">Logout</ons-toolbar-button></div>
                </ons-toolbar>
            </ons-page>
        </ons-template>

        <ons-template id="register.html">
            <ons-page>
                <ons-toolbar fixed-style>
                  <div class="left" style="line-height: 44px">
                    <ons-back-button>Back</ons-back-button>
                  </div>
                  <div class="center" id="transformText">Register</div>
                </ons-toolbar>
                <section style="padding: 8px">
                  <input type="text" class="text-input" ng-model="username_r" placeholder="Username" style="display: block; width: 100%">
                </section>
                <section style="padding: 8px">
                  <input type="text" class="text-input" ng-model="email" placeholder="email" style="display: block; width: 100%">
                </section>
                <section style="padding: 8px">
                  <input type="password" class="text-input" ng-model="password_r" placeholder="Password" style="display: block; width: 100%">
                </section>
                <div id="email">
                    <ons-icon
                      icon="ion-information-circled"
                      size="20px"
                      fixed-width="false"
                      style="color: red">
                    </ons-icon>
                    <p> Enter valid email address. </p>
                </div>
                <section style="padding: 0 8px 8px">
                    <ons-button modifier="large" class="login-button" ng-click="register(username_r, email, password_r)"> Register </ons-button>
                </section>
            </ons-page>
        </ons-template>  
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
