<ons-page id="invite" modifier="invite" ng-controller="InviteController">
    <div class="header gradient">
        <p class="title1">{{"HAVING_FUN"| translate}}</p>
        <p class="title2">{{"INVITE_FRIENDS"| translate}}</p>
    </div>
    <div class="content">
        <div class="message">
            <h2>{{"MESSAGE"| translate}}</h2>
            <div class="textAreaDescr">{{"EDIT_MSG_BELOW"| translate}}:</div>
            <textarea class="textarea" rows="5" ng-model="msg"></textarea>
        </div>
        <div class="message">
            <h2>Email</h2>
            <input type="text" class="text-input text-input--underbar" ng-model="email" placeholder="{{'INVITE_EMAIL_PLACEHOLDER'| translate}}" value="" name="input" required>
            <div id="email">
                <ons-icon id="icon"
                          icon="ion-information-circled"
                          size="15px"
                          fixed-width="false"
                          style="color: red">
                </ons-icon>
                <p id="p" style="font-size: 0.8em"> {{'CHECK_EMAIL'| translate}} </p>
            </div>
        </div>
        <ons-button modifier="material" class="cruButton" ng-click="invite(email, msg)">
            <ons-ripple></ons-ripple>
            {{"INVITE"| translate}}
        </ons-button>
    </div>
</ons-page>