<ons-page id="invite" modifier="invite" ng-controller="inviteController">
    <div class="header">
        <p class="title1">Having fun?</p>
        <p class="title2">Invite your friends...</p>
    </div>
    <div class="content">
        <div class="message">
            <h2>Message</h2>
            <div class="textAreaDescr">Click to edit the message below:</div>
            <textarea class="textarea" rows="5" placeholder="invitation message" ng-model="data" ng-init="data = 'I\'d like to invite you to the CityRus app.'"></textarea>
        </div>
        <div class="message">
            <h2>Email</h2>
            <input type="text" class="text-input text-input--underbar" ng-model="email" placeholder="Type your frend's email" value="" name="input" required>
            <div id="email">
                <ons-icon id="icon"
                          icon="ion-information-circled"
                          size="15px"
                          fixed-width="false"
                          style="color: red">
                </ons-icon>
                <p id="p" style="font-size: 0.8em"> Enter a valid email address. </p>
            </div>
        </div>
        <ons-button modifier="material" class="cruButton" ng-click="Invite(email)">
            <ons-ripple></ons-ripple>
            {{"INVITE"| translate}}
        </ons-button>
    </div>
</ons-page>