<ons-page id="missions" ng-controller="MissionsController">
    <ons-row id="missions">
        <ons-col width="50%" ng-repeat='mission in missions'>
            <ons-list modifier="inset" style="margin-top: 10px" ng-click="showMission($index)">
                <ons-list-item class="name">
                    <span>{{ mission.name }}</span>
                </ons-list-item>
                <ons-list-item class="created">
                    <span>Posted in {{ mission.created_at }}</span>
                </ons-list-item>
                <ons-list-item class="contributors">
                    <span>12 contributors</span>
                </ons-list-item>
            </ons-list>
        </ons-col>
    </ons-row>
</ons-page>
