<ons-page class="gradientPage" ng-controller="RegisterController">
    <div class="logo">
        <img class="loginImage" src="img/CityRUS_logo.png">
        <h1>City-R-US</h1>
    </div>
    <form name="registerForm" id="registerForm">
        <input type="text" class="inputText" ng-model="username_r" placeholder="{{'NAME'| translate}}">
        <input type="text" class="inputText" ng-model="email" placeholder="email">
        <input type="password" class="inputText" ng-model="password_r" placeholder="{{'PASSWORD'| translate}}">
        <label class="checkbox">
            <input type="checkbox" name="terms" ng-model="terms" value="false">
            <div class="checkbox__checkmark"></div>
            <a href="http://city-r-us.scify.org/web/public/termsAndConditions" target="_blank">{{ "ACCEPT_TERMS" | translate }}</a>
        </label>
        <section class="loginButtonContainer">
            <ons-button modifier="large" class="cruButton"
                        ng-click="register(username_r, email, password_r, terms)">
                {{"REGISTER"| translate}}
            </ons-button>
        </section>
    </form>
    <section class="centerRegister" align="center">
        <ons-button modifier="quiet" ng-click="myNavigator.pushPage('login.html', {animation: 'fade'})">
            <h2>{{"ALREADY_HAVE_ACCOUNT"| translate}}</h2>
        </ons-button>
    </section>
    <ons-modal var="modal">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br>
        <br> {{"PLEASE_WAIT"| translate}}
        <br>
    </ons-modal>
</ons-page>
