<ons-page>
    <!--<ons-toolbar fixed-style>
      <div class="left" style="line-height: 44px">
        <ons-back-button>Back</ons-back-button>
      </div>
      <div class="center" class="transformText">Register</div>
    </ons-toolbar>-->
    <ons-modal var="modal">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br>
        <br> Please wait...
        <br>
    </ons-modal>
    <div class="logo">
        <img class="loginImage" src="img/CityRUS_logo.png">
    </div>
    <form name="registerForm" id="registerForm">
        <section style="padding-bottom: 3px">
            <input type="text" class="inputText" ng-model="username_r" placeholder="Username">
        </section>
        <section style="padding-bottom: 3px">
            <input type="text" class="inputText" ng-model="email" placeholder="email">
        </section>
        <section style="padding-bottom: 15px">
            <input type="password" class="inputText" ng-model="password_r" placeholder="Password">
        </section>
        <div id="email">
            <ons-icon
                    icon="ion-information-circled"
                    size="20px"
                    fixed-width="false"
                    style="color: red">
            </ons-icon>
            <p> Enter valid email address. </p>
        </div>
        <section>
            <ons-button modifier="large" class="login-button" id="buttons"
                        ng-click="register(username_r, email, password_r)"> Register
            </ons-button>
        </section>
    </form>
    <section class="centerRegister" align="center">
        <ons-button modifier="quiet" class="quietButtonRegister"
                    ng-click="myNavigator.pushPage('login.html', {animation: 'fade'})"> I already have an account
        </ons-button>
    </section>
</ons-page>
