<ons-page id="route_tagging_mission" ng-controller="RouteTaggingMissionController">
    <ons-toolbar fixed-style class="hidden-toolbar" id="recording">
        <div class="left ">
            <ons-back-button></ons-back-button>
                <span class="msg"><ons-icon
                        icon="fa-circle"
                        size="20px"
                        fixed-width="false"
                        style="color: #F15A59">
                </ons-icon>
                {{"RECORDING" | translate}}
                </span>
        </div>
    </ons-toolbar>

    <div id="map-container">
    </div>
    <ons-button modifier="material" class="cruButton map-button" ng-click="tagRoute()">
        <ons-ripple></ons-ripple>
        {{"TAG_ROUTE" | translate}}
    </ons-button>

    <ons-modal class="confirmationModal" var="confirmation">
        <div class="confirmationDiv">
            <i class="ion-ios-arrow-back modalBackButton" ng-click="confirmation.hide()"></i>

            <h1>{{mission.name}}</h1>
            <hr/>
            <h2>{{"SUBMIT_ROUTE_TEXT" | translate}}</h2>

            <div class="senButton">
                <ons-button modifier="material" class="cruButton" ng-click="sendRoute()">
                    <ons-ripple></ons-ripple>
                    {{"CONFIRM" | translate}}
                </ons-button>
            </div>
        </div>
    </ons-modal>

    <ons-modal var="loading">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br>
        <br> {{"SENDING" | translate}}
    </ons-modal>

    <ons-modal var="success">
        <br>{{ 'SUCCESS' | translate:translationData }}
    </ons-modal>

    <ons-modal var="fail">
        <br> {{"FAIL" | translate}}
    </ons-modal>

    <ons-modal var="results">

    </ons-modal>
</ons-page>
