<ons-page id="invite" modifier="invite" ng-controller="SuggestMissionController">
    <ons-toolbar fixed-style class="hidden-toolbar">
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
    </ons-toolbar>
    <div class="header gradient">
        <p class="title1">{{"SOMETHING_MISSING"| translate}}</p>
        <p class="title2">{{"SUGGEST_YOUR_OWN"| translate}}</p>
    </div>
    <div class="content">
        <div class="message">
            <h2>{{"SUGGEST_TITLE"| translate}}</h2>
            <div class="textAreaDescr">{{"EDIT_SUG_BELOW"| translate}}:</div>
            <textarea class="textarea" rows="5" ng-model="description" placeholder="{{'SUG_PLACEHOLDER'| translate}}"></textarea>
        </div>
        <ons-button modifier="material" class="cruButton" ng-click="suggest(description)">
            <ons-ripple></ons-ripple>
            {{"SUGGEST"| translate}}
        </ons-button>
    </div>
    <ons-modal var="modal" class="loader">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br>
        <br> {{"PLEASE_WAIT"| translate}}
        <br>
    </ons-modal>
</ons-page>