/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

/* GENERAL */

* {
    color: white;
    margin: auto;
    font-family: inherit;
    font-size: 20px;
    font-weight: normal;
    line-height: 1em;
    text-align: center;
}

@media screen and (max-device-width: 320px) and (orientation: portrait) {
    * {
        font-size: 12px;
    }
}

@media screen and (max-device-width: 420px) and (min-device-width: 321px) and (orientation: portrait) {
    * {
        font-size: 14px;
    }
}

@media screen and (max-device-width: 540px) and (min-device-width: 421px) and (orientation: portrait) {
    * {
        font-size: 16px;
    }
}

@media screen and (max-device-width: 760px) and (min-device-width: 541px) and (orientation: portrait) {
    * {
        font-size: 18px;
    }
}

@media screen and (max-device-height: 320px) and (orientation: landscape) {
    * {
        font-size: 12px;
    }
}

@media screen and (max-device-height: 420px) and (min-device-width: 321px) and (orientation: landscape) {
    * {
        font-size: 14px;
    }
}

@media screen and (max-device-height: 540px) and (min-device-width: 421px) and (orientation: landscape) {
    * {
        font-size: 16px;
    }
}

@media screen and (max-device-height: 760px) and (min-device-width: 541px) and (orientation: landscape) {
    * {
        font-size: 18px;
    }
}

*::-webkit-scrollbar {
    display: none;
}

*::-webkit-input-placeholder {
    color: #FFFFFF;
}

body {
    -webkit-touch-callout: none;    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;      /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif !important;
}

.page__background {
    background: linear-gradient(135deg, #62d7c0 0%, #2e5a85 100%);
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

#splashImage {
    max-height: 50%;
    max-width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 0.95em;
}

h6 {
    font-size: 0.75em;
}

h7 {
    font-size: 0.6em;
}

.cruButton {
    border-radius: 5.5%/40%;
    -webkit-border-radius: 5.5%/40%;
    background-color: #59CAB5;
    display: block;
    margin: auto;
}

.cruButton > .label {
    display: table;
    height: 100%;
}

.cruButton > .label > span {
    display: table-cell;
    vertical-align: middle;
}

/* LOGIN - REGISTER */

.logo {
    position: absolute;
    height: 20%;
    width: 100%;
    top: 7%;
}

.loginImage {
    height: 64%;
    margin-bottom: 15px;
}

.inputText {
    border-radius: 5.5%/40%;
    -webkit-border-radius: 5.5%/40%;
    display: block;
    background-color: #96C4DB;
    font-size: 1.8em;
    border: none;
}

.inputText + .inputText {
    margin-top: 5px;
}

.loginButtonContainer {
    width: 100%;
    height: 40%;
}

.loginButtonContainer::before {
    content: "";
    display: block;
    height: 32%;
}

.loginButtonContainer::after {
    content: "";
    display: block;
    height: 8%;
}

.loginButtonContainer > .cruButton {
    height: 60%;
    width: 77%;
}

.loginButtonContainer > .cruButton span span {
    font-size: 1.5em;
}

.centerRegister {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

#loginForm {
    position: absolute;
    height: 36%;
    width: 100%;
    top: 36%;
}

#loginForm > * {
    width: 77%;
}

#loginForm > .loginButtonContainer {
    width: 100%;
}

#loginForm .inputText {
    height: 22%;
}

#loginForm h4 {
    color: #B2C5D0;
    font-style: italic;
}

#registerForm {
    position: absolute;
    height: 36%;
    width: 100%;
    top: 36%;
}

#registerForm > * {
    width: 77%;
}

#registerForm > .loginButtonContainer {
    width: 100%;
}

#registerForm .inputText {
    height: 22%;
}

#email {
    display: none;
    margin-top: 2px;
    margin-bottom: -2px;
    height: 0px;
    overflow: visible;
}

#email * {
    color: red;
    text-decoration: underline;
}

/* MISSIONS LIST */

#missions ons-list {
    background: none;
    padding: 1.5% 0;
}

#missions ons-list-item {
    background: white;
    width: 45.3%;
    float: left;
    padding: 0;
    margin: 1.5%;
    padding: 2% 1% 1% 2%;
}

#missions ons-list-item:nth-child(odd) {
    margin-left: 3%;
}

#missions ons-list-item:nth-child(even) {
    margin-right: 3%;
}

#missions .name {
    font-size: 2.4em;
    height: 4em;
    overflow: hidden;
    color: #41454C;
    text-align: left;
}

#missions .created {
    color: #59CAB5;
    font-size: 0.75em;
    font-style: italic;
    margin: 1em 0;
    text-align: left;
}

#missions .contributors {
    font-size: 0.8em;
    color: #B2C5D0;
    text-align: right;
}

/* MISSION */

#mission {
    padding-top: 20%;
}

 #mission ons-list-item {
    line-height: 0.9em;
    text-align: left;
}

.start-button{
    text-align:center !important;
}

.start-button ons-button{
    background-color: #59CAB5;
    border-radius: 20px;
    font-size: 25px;
    padding: 10px 50px;
    width:90%;
}

.start-button ons-button span span {
    font-size:1.5em;
}

#mission .name, #mission .description, #mission .created_at {
    text-align: left;
}

#mission .name span {
    margin-bottom: 10px;
    color: #000;
    font-size: 2em;
}

#mission .description span {
    font-size: 0.75em;
    line-height: 2.9em;
    margin-bottom: 0.55em;
    color: #000;
}

#mission .contributors {
    text-align: left;
}

#mission .contributors span {
    font-size: 0.9em;
    color: #009982;
}

#mission .created span {
    color: #898585;
    font-size: 0.7em;
    font-style: italic;
}


/* ACCOUNT PAGE */
#account .card{
    height: 150px;
}

#account .name{
    font-weight: 600;
    font-size: 1.1em;
    padding: 40px 0 0 20px;
}
#account .score{
    font-weight: 400;
    font-size: 0.9;
    padding: 10px 0 0 20px;
}

#account p, #account h4{
    color:#000;
    text-align:left;
    margin-top:5%;
    line-height: 0.9em;
}
#account h4{
    font-size: 1em;
    font-weight: 600;
}

#account p{
    font-size: 0.8em;
}

#account{
    line-height: 1.1em;
}

.list {
    height: 100%;
}

/* MISSION MAP */

#map-container {
    width: 100%;
    height: 100%;
}

#map-container + .cruButton {
    background-color: #366AA9;
    position: absolute;
    bottom: 2%;
    height: 7%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#map-container + .cruButton span span {
    font-size: 1.5em;
}

.confirmationModal.modal {
    background-color: rgba(0, 0, 0, 0.2);
}

.confirmationDiv {
    background-color: white;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    padding: 0 2%;
    position: absolute;
    bottom: 0;
    text-align: left;
}

.confirmationDiv * {
    color: #41454C;
    text-align: left;
}

.confirmationDiv h1 {
    display: block;
    padding: 0 7%;
    font-size: 1.5em;
    line-height: 1.2em;
    max-height: 2.4em;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0.5em;
    margin-top: 0.1em;
}

.confirmationDiv h2 {
    display: block;
    padding: 0 7%;
    margin-top: 0.8em;
    line-height: 1.2em;
    max-height: 2.4em;
    height: 2.4em;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1.6em;
    font-size:1em;
}

.confirmationDiv .cruButton {
    width: 75%;
}

.confirmationDiv .cruButton span span {
    color: white;
    font-size: 1.5em;
}

.modalBackButton {
    line-height: 0;
    font-size: 3.1em;
    margin-left: calc(0.4em - 2%);
    padding-top: 0.15em;
    text-shadow: -1px 2px 5px black;
    display: inline-block;
}

/*TOOL BAR*/

ons-toolbar ~ .page__content {
    top: 0;
}

.hidden-toolbar {
    background: none;
}

ons-back-button span i {
    line-height: 0 !important;
    font-size: 3em !important;
    margin-left: 0.4em !important;
    padding-top: 0.1em !important;
    text-shadow: -1px 2px 5px black;
}

/*MENU BAR*/

div.tab-bar {
    height: 12%;
    background-color: #96C4DB;
}

div.tab-bar ons-tab * {
    display: block;
    height: 100%;
}

div.tab-bar ons-tab .tab-content::before {
    content: "";
    display: block;
    height: 13%;
}

div.tab-bar ons-tab img {
    height: 46%;
    margin: auto;
}

div.tab-bar ons-tab span {
    font-size: 1.1em;
    line-height: 2.1em;
}

div.tab-bar ons-tab.active {
    background-color: #67D2C2;
}

/* ACCOUNT */

/* INVITE */

.header {
    color:white;
    height: 30%;
}

.header .title1{
    font-weight: 400;
    font-size: 1.1em;
    padding: 40px 0 0 8%;
    float:left;
    width: 84%;
    text-align: left;
}

.header .title2{
    font-weight: 700;
    font-size: 1.1em;
    padding: 0 0 40px 8%;
    float:left;
    width: 84%;
    text-align: left;
}

.section {
    background-color:white;
    height: 70%;
}

.section .message {
    color:black;
    float:left;
    padding: 30px 8% 0 8%;
    font-weight: 700;
    font-size: 0.9em;
    width: 84%;
    text-align: left;
}

.section .textAreaDescr {
    color:#B2C5D0;
    text-align: left;
    padding: 52px 8% 0 8%;
    width: 84%;
    font-size: 0.7em;
    font-style: italic;
}

.section .textarea{
    padding: 0 1% 0 1%;
    width: 84%;
    margin-top: 5px;
    font-size: 0.7em;
    text-align: left;
}

.section .text-input--underbar {
    padding: 10px 8% 0 0;
    width: 84%;
    font-size: 0.7em;
}

::-webkit-input-placeholder {
    color: #B2C5D0;
    font-size: 0.7em;
    font-style: italic;
    text-align: left;
}

#email {
    display:none;
    font-size: 0.7em;
    text-transform:none;
    color: red;
    text-decoration: underline;
    padding: 2% 8% 4% 8%;
    text-align: left;
    width: 84%;
    float:left;
}

.sectionButton {
    width: 84%;
    padding: 5% 8% 0 8%;
}

.section .login-button {
    float: right;
    border-radius: 15px;
    background-color: #56CDB7;
    font-size: 1.1em;
    width: 42%;
    padding: 0 0 0 0;
    text-align: center;
    margin: auto;
}