/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

/* GENERAL */

* {
    color: white;
    margin: auto;
    font-family: inherit;
    font-size: 20px;
    font-weight: normal;
    line-height: 1em;
    text-align: center;
}

@media screen and (max-device-width: 320px) and (orientation: portrait) {
    * {
        font-size: 12px;
    }
}

@media screen and (max-device-width: 420px) and (min-device-width: 321px) and (orientation: portrait) {
    * {
        font-size: 14px;
    }
}

@media screen and (max-device-width: 540px) and (min-device-width: 421px) and (orientation: portrait) {
    * {
        font-size: 16px;
    }
}

@media screen and (max-device-width: 760px) and (min-device-width: 541px) and (orientation: portrait) {
    * {
        font-size: 18px;
    }
}

@media screen and (max-device-height: 320px) and (orientation: landscape) {
    * {
        font-size: 12px;
    }
}

@media screen and (max-device-height: 420px) and (min-device-width: 321px) and (orientation: landscape) {
    * {
        font-size: 14px;
    }
}

@media screen and (max-device-height: 540px) and (min-device-width: 421px) and (orientation: landscape) {
    * {
        font-size: 16px;
    }
}

@media screen and (max-device-height: 760px) and (min-device-width: 541px) and (orientation: landscape) {
    * {
        font-size: 18px;
    }
}

*::-webkit-scrollbar {
    display: none;
}

*::-webkit-input-placeholder {
    color: #FFFFFF;
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif !important;
}

.page__background {
    background-color: #fff;
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.splashScreen {
    height: 100%;
}

#splashImage {
    max-height: 50%;
    max-width: 50%;
    margin: 30% auto 0 auto;
}

.splashScreen h1 {
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight: 600;
}

hr {
    border: none;
    border-bottom: solid 1px #D8D8D8;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 0.95em;
}

h6 {
    font-size: 0.75em;
}

h7 {
    font-size: 0.6em;
}

.cruButton {
    border-radius: 5.5%/40%;
    -webkit-border-radius: 5.5%/40%;
    background-color: #59CAB5;
    display: block;
    margin: auto;
}

.cruButton > .label {
    display: table;
    height: 100%;
}

.cruButton > .label > span {
    display: table-cell;
    vertical-align: middle;
}

::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 0.7em;
    text-align: center;
    font-style: normal;
}

.gradient, .gradientPage .page__background {
    background: #2e5a85;
    background: -moz-linear-gradient(-45deg, #62d7c0 0%, #2e5a85 100%);
    background: -webkit-linear-gradient(-45deg, #62d7c0 0%, #2e5a85 100%);
    background: linear-gradient(135deg, #62d7c0 0%, #2e5a85 100%);
}

/* LOGIN - REGISTER */

.logo {
    position: absolute;
    height: 20%;
    width: 100%;
    top: 7%;
}

.loginImage {
    height: 64%;
    margin-bottom: 15px;
}

.inputText {
    border-radius: 5.5%/40%;
    -webkit-border-radius: 5.5%/40%;
    display: block;
    background-color: #96C4DB;
    font-size: 1.8em;
    border: none;
}

.inputText + .inputText {
    margin-top: 5px;
}

.loginButtonContainer {
    width: 100%;
    height: 40%;
}

.loginButtonContainer::before {
    content: "";
    display: block;
    height: 32%;
}

.loginButtonContainer::after {
    content: "";
    display: block;
    height: 8%;
}

.loginButtonContainer > .cruButton {
    height: 60%;
    width: 77%;
}

.loginButtonContainer > .cruButton span span {
    font-size: 1.5em;
}

.centerRegister {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

#loginForm {
    position: absolute;
    height: 36%;
    width: 100%;
    top: 36%;
}

#loginForm > * {
    width: 77%;
}

#loginForm > .loginButtonContainer {
    width: 100%;
}

#loginForm .inputText {
    height: 22%;
    min-height: 30px;
}

#loginForm h4 {
    color: #B2C5D0;
    font-style: italic;
}

#registerForm {
    position: absolute;
    height: 36%;
    width: 100%;
    top: 36%;
}

#registerForm > * {
    width: 77%;
}

#registerForm > .loginButtonContainer {
    width: 100%;
}

#registerForm .inputText {
    height: 22%;
}

#email {
    display: none;
    margin-top: 2px;
    margin-bottom: -2px;
    height: 0px;
    overflow: visible;
}

#email * {
    color: red;
    text-decoration: underline;
}

/* MISSIONS LIST */

#missions .cruButton {
    height: 6%;
    margin-top: 3%;
    margin-left: 45%;
    margin-right: 5%;
}

#missions .cruButton span span {
    font-size: 1.2em;
}

#missions ons-list {
    background: none;
    padding: 1.5% 0;
    box-sizing: border-box;
}

#missions ons-list-item {
    background: white;
    width: 45.3%;
    float: left;
    padding: 0;
    margin: 1.5%;
    padding: 2% 1% 1% 2%;
}

#missions ons-list-item:nth-child(odd) {
    margin-left: 3%;
}

#missions ons-list-item:nth-child(even) {
    margin-right: 3%;
}

#missions .name {
    font-size: 1.5em;
    height: 4em;
    overflow: hidden;
    color: #41454C;
    text-align: left;
}

#missions .created {
    color: #59CAB5;
    font-size: 0.9em;
    font-style: italic;
    margin: 1em 0;
    text-align: left;
}

#missions .contributors {
    font-size: 0.9em;
    color: #999999;
    text-align: right;
}

/* MISSION */

#mission .missionContainer {
    background: white;
    padding: 1em;
    padding-top: 4em;
    box-sizing: border-box;
}

#mission .missionContainer p {
    text-align: left;
}

#mission .missionContainer .contributors {
    color: #59CAB5;
    margin: 5% 0;
}

#mission .missionContainer .name {
    font-size: 2.5em;
    color: #41454C;
    margin-bottom: 0.6em;
    font-family: Roboto;
}

#mission .missionContainer .description {
    font-size: 1.1em;
    color: #41454C;
    line-height: 120%;
}

#mission .missionContainer .created {
    color: #999999;
    font-style: italic;
    margin: 1em 0;
}

#mission .cruButton {
    width: 80%;
    margin: 0 auto;
}

#mission .cruButton span span {
    font-size: 2em;
    line-height: 1.6em;
}

#recording {
    height: 65px;
    background-color: #ffffff;
    color: #000000;
    padding: 0.7em;
}

#recording ons-back-button span i{
    margin-left: 0 !important;
    padding-top: 0 !important;
}

#recording .msg{
    color: #000;
    font-size: 1em;
    position: relative;
    top: 0.7
    em;
}

/* MISSION MAP */

#map-container {
    width: 100%;
    height: 100%;
}

#map-container + .cruButton {
    background-color: #366AA9;
    position: absolute;
    bottom: 2%;
    height: 7%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#map-container + .cruButton span span {
    font-size: 1.5em;
}

.confirmationModal.modal {
    background-color: rgba(0, 0, 0, 0.2);
}

.confirmationDiv {
    background-color: white;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    padding: 0 2%;
    position: absolute;
    bottom: 0;
    text-align: left;
}

.confirmationDiv * {
    color: #41454C;
    text-align: left;
}

.confirmationDiv h1 {
    display: block;
    padding: 0 7%;
    font-size: 1.5em;
    line-height: 1.2em;
    max-height: 2.4em;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0.5em;
    margin-top: 0.1em;
}

.confirmationDiv h2 {
    display: block;
    padding: 0 7%;
    margin-top: 0.8em;
    line-height: 1.2em;
    max-height: 2.4em;
    height: 2.4em;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1.6em;
    font-size: 1em;
}

.confirmationDiv .cruButton {
    width: 75%;
}

.confirmationDiv .cruButton span span {
    color: white;
    font-size: 1.5em;
}

.modalBackButton {
    line-height: 0;
    font-size: 3.1em;
    margin-left: calc(0.4em - 2%);
    padding-top: 0.15em;
    text-shadow: -1px 2px 5px black;
    display: inline-block;
}

/*TOOL BAR*/

ons-toolbar ~ .page__content {
    top: 0;
}

.hidden-toolbar {
    background: none;
}


ons-back-button span i, .back ons-icon {
    line-height: 0 !important;
    font-size: 3em !important;
    margin-left: 0.4em !important;
    padding-top: 0.1em !important;
    text-shadow: -1px 2px 5px black;
    color: #41454C;
}

.ons-tab-bar__content {
    height: 88%;
    bottom: auto;
}

/*MENU BAR*/

div.tab-bar {
    height: 12%;
    background-color: #96C4DB;
}

div.tab-bar ons-tab * {
    display: block;
    height: 100%;
}

div.tab-bar ons-tab .tab-content::before {
    content: "";
    display: block;
    height: 13%;
}

div.tab-bar ons-tab img {
    height: 46%;
    margin: auto;
}

div.tab-bar ons-tab span {
    font-size: 1.1em;
    line-height: 2.1em;
}

div.tab-bar ons-tab.active {
    background-color: #67D2C2;
}

/* ACCOUNT PAGE */

#account * {
    text-align: left;
}

#account .header {
    height: 33%;
    padding: 3em;
    box-sizing: border-box;
}

#account .content {
    height: 67%;
    background: white;
    padding: 1em 2.5em;
    box-sizing: border-box;
}

#account .name {
    font-size: 2.5em;
}

#account .score {
    margin-top: 2%;
    font-size: 1.2em;
}

#account .scoreNumber {
    font-weight: 600;
    font-size: 1.2em;
}

#account .content .message {
    margin-top: 2em;
}

#account .content .message > * {
    color: #41454C;
}

#account .content .message p {
    line-height: 1.4em;
}

/* INVITE */

#invite * {
    text-align: left;
}

#invite .header {
    height: 33%;
    padding: 3em;
    box-sizing: border-box;
}

#invite .content {
    height: 67%;
    background: white;
    padding: 1em 2.2em;
    box-sizing: border-box;
}

#invite .title1 {
    font-size: 2.5em;
}

#invite .title2 {
    font-size: 2.2em;
    font-weight: bold;
}

#invite .content .message {
    margin-top: 2em;
}

#invite .content .message > * {
    color: #41454C;
}

#invite .content h2, #account .content h2 {
    font-weight: bold;
    margin-bottom: 0.7em;
}

#invite .content .textAreaDescr {
    font-size: 0.9em;
    font-style: italic;
}

#invite .content .textarea {
    width: 84%;
    margin-top: 1em;
    font-size: 0.9em;
    border-radius: 0;
    border-color: #41454C;
    padding: 0.5em;
    box-sizing: border-box;
}

#invite .content .text-input--underbar, #account .content .text-input--underbar {
    padding: 0 8% 0 0;
    width: 100%;
    margin-top: -0.4em;
    border-color: #41454C;
    margin-bottom: 5%;
}

#invite .cruButton, #account .cruButton {
    margin-top: 1em;
    width: 42%;
    margin-left: 60%;
    margin-bottom: 5%;
}

#invite .cruButton span span, #account .cruButton span span {
    font-size: 1.4em;
    line-height: 1.6em;
}

#invite .content #email {
    display: none;
    color: red;
    text-decoration: underline;
    float: left;
}

#invite input::-webkit-input-placeholder, #invite textarea::-webkit-input-placeholder, #account input::-webkit-input-placeholder {
    color: #999999;
    text-align: left;
    font-size: 0.9em;
    font-style: italic;
}
